<div class="col-xs-10 col-xs-offset-5">
<%= link_to 'NEW Article', new_article_path, class: 'btn btn-xs btn-primary' %>
</div>

<% obj.each do |f| %>
<div class="row">
<div class="col-xs-8 col-xs-offset-2">
<div class="well wel-lg">
<div class="article-title">
<%= link_to f.title, article_path(f)%>
</div>
<div class="article-body">

<%= truncate(f.description, length: 30) %>
</div>
<div class="article-detail">
<small> Created by : <%= f.user.username if f.user %>, 
<%= time_ago_in_words(f.created_at) %> ago, 
last update: <%= time_ago_in_words(f.updated_at) %> ago </small>
</div>
<%if logged_in? && current_user == f.user%>
<div class="article-actions">
<%= link_to 'Edit', edit_article_path(f), class: "btn btn-xs btn-primary" %>
<%= link_to 'Show', article_path(f), class: "btn btn-xs btn-info" %>
<%= link_to 'Delete', article_path(f), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger"%>
 </div>
 <%end%>
 </div>
 </div>
 </div>

 <%end%>